$dark-gray: #3B3B3B;
$light-gray: #E6E6E6;
$mid-gray: #D7D7D7;

$dark-button: #323232;
$dark-button-text: #828282;
$dark-line: #323232;

$dark-gray-text: #4D4D4D;
$deep-gray-text: #676767;
$light-gray-text: #808080;
$ultralight-gray-text: #bdbdbd;
$lighter-gray-text: #9c9c9c;
$white: #dfdfdf;

$gray1: #EEE;
$gray2: #DDD;
$gray3: #CCC;
$gray4: #AAA;
$gray5: #888;
$gray6: #666;
$gray7: #444;
$gray8: #333;
$gray9: #222;

$purple: #a02dff;
