$font-stack: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$timestamp-font: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$button-text-size:                    0.90em;
$input-text-size:                     0.95em;
$list-component-header-text-size:     1.00em;
$list-component-title-text-size:      0.95em;
$list-component-subheader-text-size:  0.75em;
$list-component-content-text-size:    0.90em;
$list-component-time-text-size:       0.75em;
$header-text-size:                    1.50em;
$small-header-text-size:              1.25em;
$subheader-text-size:                 1.00em;

$course-header-text-size:             0.90em;
$course-title-text-size:              1.20em;
$course-description-text-size:        1.00em;
$course-detail-text-size:             0.85em;

$huge:                                5.00em;