@import './scrolling';
@import './colors';
@import './glyphs';

.lecture-context {
  flex: 1;
  display: flex;
  height: 100%;
  background: $light-gray;

  &-content {
    flex: 1;
    padding: 25px;
  }

  &-sidebar {
    flex: 0 0 300px;
    height: 100%; width: 300px;
    background: white;
    &-header {
      // @include fixed-header-and-footer--scrollable-content--fixed-component();
    }
  }
}
