@import './colors';
@import './fonts';
@import './fixes';

.login {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  background-image: 
    url("http://everystockphoto.s3.amazonaws.com/Oxford_business_school_1930_o.jpg");
  * {
    margin: 5px;
    color: $dark-gray-text;
    @include nice-boxes();
    @include no-selection();
  }
  #login-form{
    position: relative;
    margin-top: 10%;
    display: inline-block;
    width: 600px;
    height: 330px;
    padding: 15px;
    background-color: rgba(256, 256, 256, 0.75);
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.25);
    &__title {
      font-family: 'Slabo 27px';
      font-size: $huge;
      margin-top: 0;
      padding: 15px;
      display: block;
      text-align: center;
    }
    &__logged-out {
      color: #338090;
    }
    input {
      margin-top: -1px;
      margin-bottom: 11px;
      display: inline-block;
      width: 270px;
      padding: 10px;
      font-size: 0.75em;
      outline: none;
      background-color: rgba(256, 256, 256, 0.75);
      font-family: 'Roboto', sans-serif;
      color: black;
      border: solid 1px $gray4;
      &:hover {
        border-color: $gray5;
      }
      &:focus {
        border-color: $gray5;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.125);
      }
    }
    &__login, &__create {
      font-size: 1.25em;
      cursor: pointer;
      font-family: 'Slabo 27px', sans-serif;
      &:hover, &:focus {
        color: $gray9;
      }
    }
    &__login {
      position: relative;
      bottom: -4px;
      background: none;
      font-weight: bold;
      background-color: rgba(256, 256, 256, 0);
    }
    &__create {
      position: fixed;
      right: 0;
      top: 0;
      background-color: rgba(256, 256, 256, 0.75);
      margin: 0px;
      &:hover {
        background-color: rgba(256, 256, 256, 0.85);
      }
    }
  }
}