@import './colors';
@import './fonts';

.login {
  position: absolute;
  height: 100%;
  width: 100%;
  display: block;
  text-align: center;
  margin-left: auto;
  // background-image: url("http://people.umass.edu/ndh/Photos/Pond.JPG");
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/a/ac/UMass_Amherst_W.E.B._Dubois_Library_night_2.jpg");
  background-size: 100%;
  * {
    margin: 5px;
    color: $dark-gray-text;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  #box{
    margin-top: 10%;
    display: inline-block;
    background-color: rgba(256, 256, 256, 0.8);
    width: auto;
    padding: 15px;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.5);
  }
  h1 {
    font-family: 'Slabo 27px', serif;
    font-size: $huge;
    margin-top: 0;
    padding: 15px;
    display: block;
    text-align: center;
  }
  p {
    color: #338090;
  }
  input {
    margin: 5px 0;
    display: inline-block;
    width: 360px;
    padding: 5px;
    font-size: 1em;
    border: solid 1px $gray3;
    background-color: rgba(256, 256, 256, 0.75);
    color: black;
    font-family: 'Cuprum', sans-serif;
    &:hover, &:focus {
      border-color: $gray4;
    }
    &:focus {
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.125);
    }
  }
  button {
    font-size: 1.25em;
    cursor: pointer;
    font-family: 'Slabo 27px', sans-serif;
  }
  #login-button {
    background-color: rgba(256, 256, 256, 0);
    font-weight: bold;
  }
  #create-button {
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(256, 256, 256, 0.75);
    margin: 0px;
  }
}