@import './colors';

@mixin arrow-up() {
  margin-left: 5px;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid $deep-gray-text;
  border-left: 7px solid transparent;
  content: '';
}

@mixin arrow-down() {
  margin-left: 5px;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-top: 7px solid $deep-gray-text;
  border-left: 7px solid transparent;
  content: '';
}
