@import './scrolling';
@import './colors';

.lecture-list-container {
  @include fixed-header-and-footer--scrollable-content--wrapper();
}

.lecture-list {
  @include fixed-header-and-footer--scrollable-content--content();
  ul {
    li:first-of-type {
      .lecture {
        margin-top: 10px !important;
      }
    }
    li:last-of-type {
      .lecture {
        margin-bottom: 0px !important;
        border-bottom: none;
      }
    }
  }
}

.course-information-heading {
  border-bottom: 1px $dark-line solid;
  .back-to-courses {
    display: inline-block;
    padding: 10px 0px 10px 0px;
    color: $ultralight-gray-text;
    &:before {
      @include arrow-left();
    }
    &:hover {
      color: $white;
      cursor: pointer; cursor: hand;
    }
    &:hover:before {
      border-right-color: $white;
    }
  }
  .course {
    &__identifier {
      margin-right: 10px;
      vertical-align: baseline;
      text-transform: uppercase;
      font-size: $subheader-text-size; color: $lighter-gray-text;
    }
    &__semester {
      text-transform: uppercase;
      vertical-align: baseline;
      font-size: $subheader-text-size; color: $lighter-gray-text;
    }
    &__name {
      margin: 0px 0px 10px 0px;
      font-size: $header-text-size; color: $white; font-style: strong;
      text-transform: uppercase;
    }
  }
}

.lecture {
  margin: 0px 10px 15px 10px; padding-bottom: 10px;
  border-bottom: 1px $dark-line solid;
  &__identifier {
    margin-right: 10px;
    vertical-align: baseline;
    text-transform: uppercase;
    font-size: $list-component-header-text-size; color: $lighter-gray-text;
  }
  &__date {
    text-transform: uppercase;
    vertical-align: baseline;
    font-size: $list-component-subheader-text-size; color: $lighter-gray-text;
  }
  &__title {
    margin: 10px 0px 10px 0px;
    font-size: $list-component-title-text-size; color: $white; font-style: strong;
  }
  &__description {
    margin: 10px 0px 0px 0px;
    font-size: $list-component-content-text-size; color: $ultralight-gray-text;
  }
  &__time {
    font-size: $list-component-time-text-size; color: $dark-button-text;
  }
  &__toggle-description-button {
    margin-right: 10px;
    color: $dark-button-text;
    background: $dark-button;
  }
}
