@import './partials/colors';
@import './partials/fonts';
@import './partials/glyphs';
@import './partials/comments';
@import './partials/navigation';

/*============================== @BASE ==============================*/

html, body {
  font-family: $font-stack;
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  background: $light-gray;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6,  {
    margin: 0;
    display: inline-block;
    font-weight:normal;
    vertical-align: bottom;
}

button, input[type=submit], input[type=button] {
  border: none;
  font-size: $button-text-size;
  font-weight: normal;
  padding: 5px 10px 5px 10px;
  &:focus {
    outline:0;
  }
  &.open {
    &:after {
      @include arrow-up();
    }
  }
  &.closed {
    &:after {
      @include arrow-down();
    }
  }
}
